@{
    ViewData["Title"] = "About Me";
    
}

<h1 class="first-h1">Get To Know Me</h1>
<section class="aboutme-page">
    
    <section class="about-section me">
        <div class="left">
            <h2>About Me</h2>
            <p>I am originally from BC, I moved here just over two years ago to go to school - I actually made a road trip out of it and drove here over the course of about two weeks, camping along the way. Now I live with my boyfriend in Orillia and together we have two small dogs (Miniature Pinscher and a Dachshund).</p>
        </div>
        <div class="right">
            <div class="image-changes">
                <img class="image f3" id="skating" src="~/img/skating.jpeg" alt="skating" width="300" />
                <img class="image f2" id="dogs" src="~/img/dogs2.jpg" alt="dogs" width="300" />
                <img class="image f1" id="me-with-dogs" src="~/img/meAndDogs.jpg" alt="me with the dogs" width="300" />
            </div>
        </div>
    </section>
    <section class="about-section travel">
        <div class="left">
            <div class="image-changes">
                <img class="image f3" id="building" src="~/img/budapest.jpg" alt="buildings in Budapest" width="300" />
                <img class="image f2" id="rocks" src="~/img/rocks.jpg" alt="rocks - Andorra" width="300" />
                <img class="image f1" id="building-spain" src="~/img/building.jpg" alt="Building - Spain" width="300" />
            </div>
        </div>
        <div class="right">
            <h2>Travel</h2>
            <p>In highschool I went on a couple of trips with the school, one to Greece and Italy and another to Beijing China. After highschool I decided to go on another trip, this time all by myself. I started in Berlin Germany, spent a month there and then after that I traveled to numerous cities in other countries near Germany - Prague, Budapest, Vienna, Bratislava etc. In total I was travelling for nearly 5 months on my own living in hostels and meeting new people to explore the cities with. </p>
        </div>
    </section>
    <section class="about-section camping">
        <div class="left">
            <h2>Camping</h2>
            <p>As a kid I spent many summers going on camping trips with my family and as an adult I enjoy it even more. I love being out in nature, swimming, canoeing, and sitting around a campfire at night.</p>
        </div>
        <div class="right">
            <div class="image-changes">
                <img class="image f3" id="tent" src="~/img/tent.jpg" alt="tent" width="300" />
                <img class="image f2" id="canoe" src="~/img/canoe.jpeg" alt="canoe" width="300" />
                <img class="image f1" id="waterfall" src="~/img/waterfall.jpg" alt="waterfall" width="300" />
            </div>
        </div>
    </section>
    <section class="about-section snowboarding">
        <div class="left">
            <img id="hill" src="~/img/skihill.jpg" alt="ski hill" width="300" />
        </div>
        <div class="right">
            <h2>Snowboarding</h2>
            <p>Living in BC I was lucky and had a ski hill 10 minutes from my house (It's actually the longest T-bar in North America!). I grew up skiing every weekend and eventually transitioned into snowboarding.</p>
        </div>

    </section>
</section>