
@{
    ViewData["Title"] = "Contact";
   
}

<h1 class="first-h1">Contact Information</h1>
<div class="contact-block">
    <div class="flower-img">
        <img src="~/img/succulent-cluster.jpg" id="flower" alt="succulents" width="150" />
    </div>
    <div id="contact">
        <h1>Call or email me for more information regarding my resume or to request references.</h1>
        <h3>E-mail: parkerburck6@gmail.com</h3>
        <h3>Phone: (705) 817-9861</h3>
    </div>
</div>
