@{
    ViewData["Title"] = "Parker Rose Burck";
}




<section class="about-me">
    <h1 class="name">PARKER<br />ROSE<br />BURCK</h1>
    <h5 class="web-designer">WEB DESIGN<span> | </span>SOFTWARE DEVELOPMENT</h5>
    <h2>lets create</h2>
</section>
<section class="who-am-i">
    <h2 data-aos="font-color" data-aos-delay="500">WHO AM I</h2>
    <h3 data-aos="fade-up"
        data-aos-duration="1000">
        p.r.b
    </h3>
    <p>Georgian College Computer Programmer Graduate. <br />Experienced Web Designer and Developer.<br />Problem Solver.<br />Creator.</p>

    <div class="img-bar">
       
            <div class="image-bar-img1"></div>
            <div class="image-bar-img6"></div>
            <div class="image-bar-img2"></div>
            <div class="image-bar-img5"></div>
            <div class="image-bar-img3"></div>
            <div class="image-bar-img8"></div>
            <div class="image-bar-img9"></div>
            <div class="image-bar-img4"></div>
        
    </div>
</section>
<section class="what-ive-done">
    <div class="box">
        <div class="video-box">
            <video autoplay muted loop id="myVid">
                <source src="~/img/pexels-tima-miroshnichenko-5647322.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>
    <h2 data-aos="fade-up"
        data-aos-duration="1000">WHAT I'VE DONE</h2>
    <h3 data-aos="fade-up"
        data-aos-duration="1000">
        projects
    </h3>
    <p>Explore all my work, including school projects, work websites/apps, as well as personal projects I've completed on my own time.</p>
    <p>I have lots of expereince creating websites in both WordPress and in Visual Studio with ASP.Net Core. Using JavaScript and creating custom CSS I am able to create websites to match any vision.</p>
    
    <h5>WEBSITES | APPS | E-COMMERCE</h5>
    <a href="/Home/Projects">EXPLORE ALL PROJECTS</a>
    <div class="current-proj-whole">
        <div class="current-proj-inner">
            <div class="current-proj">
                <div class="current-proj-info" data-aos="rotate-c" data-aos-duration="3000">
                    <h4 class="current">CURRENT</h4>
                    <h4 class="project">PROJECT</h4>
                    <h5>Moonshot Automation</h5>
                    <p>Full website creation with</p>
                    <p>Online shop/E-Commerce.</p>

                </div>

                <div class="current-proj-img" data-aos="fade-up" data-aos-duration="3000"></div>

            </div>
        </div>
    </div>
</section>
<section class="square-container"> <div class="square" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"></div></section>
<section class="contact" >
    <h3 class="create" id="contact">CREATE</h3><h3 class="something" >SOMETHING</h3><h3 class="beautiful">BEAUTIFUL</h3>
    <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">get in touch</h2>

    <div class="contact-info">
        <h5>705 817 9861</h5>
        <h5>parkerburck6@gmail.com</h5>
    </div>
    <div class="linkedin">
        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="parker-rose-burck-a33061171"><a class="LI-simple-link" href='https://ca.linkedin.com/in/parker-rose-burck-a33061171?trk=profile-badge'>Parker Rose Burck</a></div>

    </div>


</section>



