@{
    ViewData["Title"] = "Parker Rose Burck";
}



    <div class="img-title-bar">
        <img id="profile-pic" src="~/img/20200407_185606.jpg" alt="Parker Profile Picture" width="200" />
    </div>
        <section class="about-me">
            <h3>Entry-Level Computer Programmer</h3>
            <p>Hardworking computer programmer graduate with experience in web application design and development. Excellent in math, logical thinking, problem solving, and a great attention to detail. I enjoy creating web and mobile applications and am great at technical writing and code documentation. </p>
            <p>My time management skills are exceptional and I have lots of experience working on my own, either on-site or from home to complete projects on time. I work well in groups and am a great team player always ready to learn something new or help out a colleague.</p>
        </section>
        <section class="resume-border">
            <section class="resume">
                <section class="programs-lang">
                    <h4>Programs and Language Experience</h4>
                    <ul id="lang">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>PHP</li>
                        <li>Java</li>
                        <li>C#</li>
                        <li>C++</li>
                        <li>Swift</li>
                    </ul>
                    <ul id="programs">
                        <li>Azure</li>
                        <li>GitHub</li>
                        <li>Visual Studio & Visual Studio Code</li>
                        <li>ASP.NET</li>
                        <li>ItelliJ</li>
                        <li>Microsoft SQL Server Management Studio</li>
                        <li>PowerApps</li>
                        <li>Business Central</li>
                        <li>Microsoft Dynamics NAV</li>
                        <li>Wordpress</li>
                        <li>WooCommerce</li>
                        <li>XCode</li>
                        <li>GoDot</li>
                        <li>Jira</li>
                        <li>SmartSheets</li>
                        <li>Photoshop</li>
                        <li>Arduino</li>
                        <li>FTP(FileZilla)</li>
                    </ul>

                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Projects">View My Projects</a>

                </section>
                <section class="education">
                    <h4>Education</h4>
                    <div class="school">
                        <div class="school-1">
                            <h6>Georgian College - Computer Programmer (Graduated)</h6>
                        </div>
                        <div class="date-1">
                            <p>September 2018 – August 2020</p>
                        </div>
                    </div>
                    <div class="school">
                        <div class="school-2">
                            <h6>Queens University - Health Sciences Program (online)</h6>
                        </div>
                        <div class="date-2">
                            <p>September 2017 – February 2018</p>
                        </div>
                    </div>
                </section>
                <section class="certificates">
                    <h4>Certificates</h4>
                    <div class="cert">
                        <div class="cert-1">
                            <h6>Georgian College - Computer Programmer Diploma</h6>
                        </div>
                        <div class="date-1">
                            <p>August 2020</p>
                        </div>
                    </div>
                    <div class="cert">
                        <div class="cert-2">
                            <h6>Ministry of Labour – Health and Safety Certificate	</h6>
                        </div>
                        <div class="date-2">
                            <p>November 2018</p>
                        </div>
                    </div>
                    <div class="cert">
                        <div class="cert-3">
                            <h6>Lifesavers First Aid Ltd. – WorkSafe BC Occupational First Aid Level 1</h6>
                        </div>
                        <div class="date-3">
                            <p>March 2018</p>
                        </div>
                    </div>

                </section>
                <section class="experience">
                    <h4>Work Experience</h4>
                    <div class="exp">
                        <div class="work-1">
                            <h6>Caranci Consulting – Software Developer</h6>
                            <p>Responsible for the creation of an Emulator app that can demonstrate the functionality of a device to clients off site without having to take the physical device and set it up at each location. Worked with coworkers to create and update packing labels and reports for clients/vendors.</p>
                        </div>
                        <div class="date-1">
                            <p>January – May 2020</p>
                        </div>
                    </div>
                    <div class="exp">
                        <div class="work-2">
                            <h6>Custom Sound and Vision – Media Content Developer</h6>
                            <p>Responsible for creating and updating three websites for the company, this included creating content, designing layout and style, and writing code. Worked both independently to finish tasks and with others collaborating on ideas for the site. </p>
                        </div>
                        <div class="date-2">
                            <p>May 2019 – January 2020</p>
                        </div>
                    </div>
                    <div class="exp">
                        <div class="work-3">
                            <h6>David Hoy Elementary School - Support staff </h6>
                            <p>Working individually and in small groups with kids who need extra help. Additionally, responsible for creating the end of year slide show both years, with pictures, animations and music for the last assembly. </p>
                        </div>
                        <div class="date-3">
                            <p>January – June 2017 & 2018 </p>
                        </div>
                    </div>
                    <div class="exp">
                        <div class="work-4">
                            <h6>Fort St James District - Maintenance worker and grounds keeper	</h6>
                            <p>Part of a small team responsible for the maintenance and upkeep of Village parks and infrastructure.  </p>
                        </div>
                        <div class="date-4">
                            <p>May – September 2013, 2014 & 2015  </p>
                        </div>
                    </div>
                </section>
                <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact Me</a></p>
            </section>
        </section>
        