
@{
    ViewData["Title"] = "Projects";
    
}
    <section id="proj-section">
        <div class="projects-title-section">
            <h1 class="proj-page-title">PROJECTS</h1>
            <h3 data-aos="fade-right"
                data-aos-duration="2000">
                my experience
            </h3>
        </div>
        <div class="featured-projects">
            <div class="new-proj-block vet qera">
                <div class="front-face">
                    <div class="contents front">
                        <h2>QERA MARKETING AND INVESTMENTS</h2>
                        <p>WORDPRESS | HTML | CSS</p>
                    </div>
                </div>

                <div class="back-face">
                    <div class="contents back">

                    </div>
                </div>

            </div>
            <div class="vet-info qera-info">


                <div id="qera-info">
                    
                    <p>Qera Marketing and Investments is a website built in Wordpress using Elementor.</p>
                    <p>Goal: Modern and creative website with eye-catching movements and features.</p>
                    <p>Website design and development</p>
                    <h3>work in progress</h3>
                </div>
                <div id="qera-button"></div>
            </div>
            
            
            
             <div class="new-proj-block vet">
                <div class="front-face">
                    <div class="contents front">
                        <h2>WOMEN QUEST</h2>
                        <p>WORDPRESS | HTML | CSS</p>
                    </div>
                </div>

                <div class="back-face">
                    <div class="contents back">

                    </div>
                </div>

            </div>
            <div class="vet-info">


                <div id="vet-info">
                    <p><a href="http://womenquest.ca/" target="_blank">Women Quest</a></p>
                    <p>Women Quest is a information based website under the non-profit organization OLDF that is dedicated to providing resources for women.</p>
                    <p>Goal: Professional, informative and drives to inspire women of all backgrounds.</p>
                    <p>Website design and co-development.</p>
                </div>
                <div id="vet-button"></div>
            </div>
            
             <div class="new-proj-block scrabble">
                <div class="front-face">
                    <div class="contents front">
                        <h2>THE NUE TREND</h2>
                        <p>WORDPRESS | HTML | CSS | SHOPIFY</p>
                    </div>
                </div>

                <div class="back-face">
                    <div class="contents back">

                    </div>
                </div>

            </div>
            <div class="scrabble-info">


                <div id="scrabble-info">
                    <p><a href="https://thenuetrend.com/" target="_blank">The Nue Trend</a></p>
                    <p>The Nue Trend is an informative site about cosmetic products that dives into what products are harmful and what ones are actually good for your skin.</p>
                    <p>Along with informative articles The Nue Trend also has a shop section for recomended products, soon to be migrated to Shopify.</p>
                    <p>The Nue Trend is a Wordpress based website with a Shopify based store section coming soon. </p>
                    <p>Website design and development.</p>
                </div>
                <div id="scrabble-button"></div>
            </div>
            <div class="new-proj-block emulator">
                <div class="front-face">
                    <div class="contents front">
                        <h2>EIGHT SIX ZERO SALON</h2>
                        <p>WORDPRESS | HTML | CSS</p>
                    </div>
                </div>

                <div class="back-face">
                    <div class="contents back">

                    </div>
                </div>

            </div>

            <div class="emulator-info">


                <div id="emulator-info">
                    <p><a href="https://eightsixzerosalon.com/" target="_blank">Eight Six Zero Salon</a></p>
                    <p>WordPress based website template for a hair salon with appointment request popup form.</p>
                    <p>Website development.</p>
                </div>
                <div id="emulator-button"></div>
            </div>

            <div class="new-proj-block tibbs">
                <div class="front-face">
                    <div class="contents front">
                        <h2>RECORDING ARTIST</h2>
                        <p>WORDPRESS | HTML | CSS | JAVASCRIPT</p>
                    </div>
                </div>

                <div class="back-face">
                    <div class="contents back">

                    </div>
                </div>

            </div>

            <div class="tibbs-info">


                <div id="tibbs-info">
                    <p><a href="https://www.jeremywhistine.com/" target="_blank">Jeremy Whistine Website</a></p>
                    <p>This website was designed for a recording artist to showcase his songs and videos and act as a public portfolio/biography about his life and music career. </p>
                    <p>Goal: Professional and sophisticated style that can be easly updated in the future with more videos, audio, and images.</p>
                    <p>Website design and development.</p>
                </div>
                <div id="tibbs-button"></div>
            </div>

            <div class="new-proj-block newcomer">
                <div class="front-face">
                    <div class="contents front">
                        <h2>THE NEWCOMER</h2>
                        <p>WORDPRESS | HTML | CSS | JAVASCRIPT</p>
                    </div>
                </div>

                <div class="back-face">
                    <div class="contents back">

                    </div>
                </div>

            </div>

            <div class="newcomer-info">


                <div id="newcomer-info">
                    <p><a href="https://thenewcomer.ca/" target="_blank">The Newcomer</a></p>
                    <p>The Newcomer is a non profit website that aims to educate and inform newcomers to Canada about different aspect of living here. This project involved building a website from scratch, and customizing themes and plugins.</p>
                    <p>Goal: Simple and easy to navigate website with lots af accessible information. To create a bright and welcoming presence.</p>
                    <p>Website design and development.</p>
                </div>
                <div id="newcomer-button"></div>
            </div>






            <div class="new-proj-block moon">
                <div class="front-face">
                    <div class="contents front">
                        <h2>MOONSHOT AUTOMATION</h2>
                        <p>WORDPRESS | WOO-COMMERCE | HTML | CSS | JAVASCRIPT</p>
                    </div>
                </div>

                <div class="back-face">
                    <div class="contents back">

                    </div>
                </div>

            </div>

            <div class="moonshot-info">


                <div id="moonshot-info">
                    <p><a href="https://moonshotautomation.com/" target="_blank">Moonshot Automation</a></p>
                    <p>Moonshot Automation is a home automation company in Mississauga. This project involves building a website and E-Commerce shop from the ground up.</p>
                    <p>Goal: Professional and polished style with an emphasis on lots of images. Dark navy palet with pops of cyan blue from their logo.</p>
                    <p>Website development</p>
                    
                </div>
                <div id="moonshot-button"></div>
            </div>




           

        </div>
        <div class="other-sites">
            <div class="other-projects-title">
                <h1>SISTER COMPANIES<br />PROJECT</h1>
            </div>
            <p class="other-intro">For this project I was responsible for creating and editing websites for three companies all under the same ownership. Two of these websites were built from scratch while the other needed significant updates, and new pages with content.</p>
            <div class="other-proj-whole">
                <div class="other-proj-block csv">
                    <div class="front-face">
                        <div class="contents front">
                            <h2>CUSTOM SOUND AND VISION</h2>
                            <p>WORDPRESS | HTML | CSS</p>
                        </div>
                    </div>

                    <div class="back-face">
                        <div class="contents back">

                        </div>
                    </div>

                </div>

                <div class="csv-info">


                    <div id="csv-info">
                        
                        <p>Custom Sound and Vision is a home automation company in Mississauga. This project involved editing and updating an existing website.</p>
                        <p>Goal: Continue with the style and colors already present in the website with some edits and changes while creating new pages to expand the site.</p>
                        <p>Months after this project was completed they decided to do a total rebranding of the company - logo, color palet, style, name etc. Their new company site was a recent project of mine, Moonshot Automation (see above).</p>
                        <p>This company has two other sister companies that I have also worked on - see Kastem and MyNetworX.</p>
                    </div>
                    <div id="csv-button"></div>
                </div>
            </div>

            <div class="other-proj-whole">
                <div class="other-proj-block kastem">
                    <div class="front-face">
                        <div class="contents front">
                            <h2>KASTEM SECURITY SOLUTIONS</h2>
                            <p>WORDPRESS | HTML | CSS</p>
                        </div>
                    </div>

                    <div class="back-face">
                        <div class="contents back">

                        </div>
                    </div>

                </div>
                <div class="kastem-info">


                    <div id="kastem-info">
                        <p><a href="https://kastem.ca/" target="_blank">Kastem Security Solutions</a></p>
                        <p>Kastem Security Solutions is a home and business security systems company. This project was a full website build.</p>
                        <p>Goal: Easy to navigate, straight to the point website with minimal navigation required. Kastem wanted to have a similar style and color theme as its sister companies (CSV and MyNetworX) while still keeping their own identity.</p>

                    </div>
                    <div id="kastem-button"></div>
                </div>
            </div>
            <div class="other-proj-whole">
                <div class="other-proj-block mynetworx">
                    <div class="front-face">
                        <div class="contents front">
                            <h2>MYNETWORX</h2>
                            <p>WORDPRES | WOOCOMMERCE | HTML | CSS</p>
                        </div>
                    </div>

                    <div class="back-face">
                        <div class="contents back">

                        </div>
                    </div>

                </div>

                <div class="mynetworx-info">


                    <div id="mynetworx-info">
                        <p><a href="https://mynetworx.ca/" target="_blank">MyNetworX</a></p>
                        <p>MyNetworX is an internet provider for the surrounding Toronto area including a number of other cities in the vacinity. This project was a complete website redo with the creation of on online shop.</p>
                        <p>Goal: Create a whole new site using similar colors and style from its 'sister companies' Custom Sound and Vision, and Kastem.</p>

                    </div>
                    <div id="mynetworx-button"></div>
                </div>
            </div>
        </div>
        




        <div class="small-projects">
            <div class="small-projects-title">
                <h1>SMALLER PROJECTS</h1>
                <h3>its the little things</h3>
            </div>

            <div class="proj-block theme-picker desktop">
                <div class="front-face">
                    <div class="contents front">
                        <h2>THEME PICKER</h2>
                        <p>HTML | CSS | JAVASCRIPT</p>
                    </div>
                </div>

                <div class="back-face">
                    <div class="contents back">
                        <p>This is a HTML, CSS, and JavaScript web application that allows the user to choose the theme of the site with the click of a button. JavaScript is used to create functions with the onclick event listener for each of the theme buttons. When one of the theme buttons is clicked, the css file changes, showing a different theme. </p>
                        <p>JavaScript was also used to create functions with the mouseover and mouseleave event listeners to add animation borders to the buttons.</p>
                        <p><a href="https://parkerroseburck.github.io/ThemePicker/" target="_blank">View Project</a></p>
                        <p><a href="https://github.com/ParkerRoseBurck/ThemePicker" target="_blank">GitHub Repository</a></p>

                    </div>
                </div>

            </div>
            <div class="proj-block theme-picker mobile">


                <h2>THEME PICKER</h2>
                <p>HTML | CSS | JAVASCRIPT</p>




                <p>This is a HTML, CSS, and JavaScript web application that allows the user to choose the theme of the site with the click of a button. JavaScript is used to create functions with the onclick event listener for each of the theme buttons. When one of the theme buttons is clicked, the css file changes, showing a different theme. </p>
                <p>JavaScript was also used to create functions with the mouseover and mouseleave event listeners to add animation borders to the buttons.</p>
                <p><a href="https://parkerroseburck.github.io/ThemePicker/" target="_blank">View Project</a></p>
                <p><a href="https://github.com/ParkerRoseBurck/ThemePicker" target="_blank">GitHub Repository</a></p>



            </div>

            <div class="proj-block weather desktop">
                <div class="front-face">
                    <div class="contents front">
                        <h2>CURRENT WEATHER AND TIME</h2>
                        <p>HTML | CSS | JAVASCRIPT</p>
                    </div>
                </div>

                <div class="back-face">
                    <div class="contents back">
                        <p>This is a Web application that uses API's to get the current weather and time/timezone of a particular city the user enters.</p>
                        <p>To complete this project I used OpenWeatherMap API, TimeZoneDB API, and a Web Animations API</p>
                        <p><a href="https://parkerroseburck.github.io/WeatherApp/" target="_blank">View Project</a></p>
                        <p><a href="https://github.com/ParkerRoseBurck/WeatherApp" target="_blank">GitHub Repository</a></p>

                    </div>
                </div>

            </div>


            <div class="proj-block weather mobile">
                
                        <h2>CURRENT WEATHER AND TIME</h2>
                        <p>HTML | CSS | JAVASCRIPT</p>
                   

                
                        <p>This is a Web application that uses API's to get the current weather and time/timezone of a particular city the user enters.</p>
                        <p>To complete this project I used OpenWeatherMap API, TimeZoneDB API, and a Web Animations API</p>
                        <p><a href="https://parkerroseburck.github.io/WeatherApp/" target="_blank">View Project</a></p>
                        <p><a href="https://github.com/ParkerRoseBurck/WeatherApp" target="_blank">GitHub Repository</a></p>

                    

            </div>

        </div>

</section>
