

/*My own css added here:*/
html, body{ 
    background-color: black!important;
    color:white;
    top:0;
}
main, .pb-3{
    padding-bottom: 0px!important;
}
.navbar {
    margin-bottom: 0px !important;
    background-image: linear-gradient(black, rgba(255,0,0,0)) !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding-bottom: 10%;
}
.navbar-toggler{
   background-color: lightgrey!important;
   padding: 1%;
   border-radius:10px;
}
body {
    display: block;
    background-image: linear-gradient(black, #0D1839) !important;
}
h1{
    text-align:center;
}
.first-h1 {
    padding-top: 10%!important;
    padding-bottom: 2%;
    color: white;
    font-weight: 500 !important;
    font-size: 2em;
}
.container{
    max-width:100%!important;
    width:100%!important;
    padding: 0px!important;
}
.border-bottom, .border-top{
    border: 0px!important;
}
nav .container h1 {
    width: 50%;
    color: #609AE0;
    font-weight:400 !important;
    font-size: 2em;
}

nav .container .navbar-collapse {
    width: 50%;
    text-align: right;
}
@media(min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
        flex-direction: row-reverse !important;
    }
}
.navbar-collapse ul li {
    margin-left: 5% !important;
}

    .navbar-collapse ul li a {
        color: #609AE0 !important;
    }

    .navbar-collapse ul li:hover {
        background-color: white !important;
        border-radius: 8%;
    }

    .navbar-collapse ul li a:hover {
        color: black !important;
    }
#profile-pic {
    border-radius: 50%;
    box-shadow: 0px 0px 18px 6px #204264;
}
.img-title-bar {
    
    clear: both !important;
    text-align: center;
    width: 100% !important;
}
.aboutme-page{
    margin-bottom: 5%;
}

.about-me {
    
    margin-bottom: 10%;
    padding-top: 15%;
    padding-bottom: 5%;
    width: 100%!important;
    background-image: url('../img/wave-overlay.jpg');
    background-size: 100%, auto;
    background-attachment: fixed;
}
.about-me h3, .about-me p{
    width:80%;
    margin-left:10%;
    text-align:center;
}
.resume {
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 1%;
    background-image: linear-gradient(#0D1839, black) !important;
    box-shadow: 0px 0px 18px 4px #0F2B47;
}
    .resume a {
        color: #609AE0!important;
        
        padding: 0.5%;
        border-radius: 10px;
        font-weight: 400 !important;
        line-height: normal;
        display: inline-block !important;
    }

    .resume a:hover {
        background-color: white;
        color: black;
        text-decoration: none !important;
    }

.experience {
    width: 100%;
    padding-top: 5%;
}

.exp {
    width: 100%;
    display: inline-block;
    height: auto;
}

.work-1, .work-2, .work-3, .work-4 {
    width: 70%;
    float: left;
    padding-bottom: 2%;
    display: inline-block;
}
/*date and h4 css for work, school and certificates*/
.date-1, .date-2, .date-3, .date-4 {
    width: 30%;
    float: left;
    text-align: left;
    padding-bottom: 2%;
    padding-left: 2%;
    display: inline-block;
}

h4 {
    padding-bottom: 2%;
    text-decoration: underline;
}

/*education*/
.education {
    width: 100%;
    padding-top: 5%;
}

.school {
    width: 100%;
    display: inline-block;
    height: auto;
}

.school-1, .school-2, .school-3 {
    width: 70%;
    float: left;
    padding-bottom: 2%;
    display: inline-block;
}

/*certificates*/
.certificates {
    width: 100%;
    padding-top: 5%;
}

.cert {
    width: 100%;
    display: inline-block;
    height: auto;
}

.cert-1, .cert-2, .cert-3 {
    width: 70%;
    float: left;
    padding-bottom: 2%;
    display: inline-block;
}

/*languages and programs used*/
.programs-lang {
    width: 100%;
    display: inline-block;
    height: auto;
    padding-top: 5%;
}

    .programs-lang ul {
        width: 100%;
        display: inline-block !important;
    }

#programs li, #lang li {
    width: 30% !important;
    float: left !important;
    font-size: 14px !important;
}



/*projects Page*/

#proj-section {
    width: 100% !important;
    background-image: url('../img/ocean-wave-overlay.jpg');
    background-size: 100%, auto;
    background-attachment: fixed;
    padding-bottom: 5%;
}
    #proj-section h1 {
        color: white;
        font-weight: 500 !important;
        font-size: 2em;
        padding-top: 2%;
        padding-bottom: 2%;
    }
.proj-block {
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 2%;
    background-color: #02162B;
    box-shadow: 0px 0px 18px 6px #204264;
}

.weather{
    margin-bottom:0px;
}
.proj-block a {
    color: #609AE0;
    padding: 0.5%;
    border-radius: 10px;
    font-weight: 400 !important;
    line-height: normal;
    display: inline-block !important;
}

    .proj-block a:hover {
        background-color: white;
        color: black;
        text-decoration: none !important;
    }




/*contact and flower image*/
.contact-block {
    width: 100%;
    
    display: block;
    overflow: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    
    width: 100% !important;
    background-image: url('../img/wave-overlay.jpg');
    background-size: 100%, auto;
    background-attachment: fixed;
}

    .contact-block #contact {
        width: 70%;
        float: left;
        margin-left: 30%;
        padding-right: 10%;
    }

#contact h1 {
    padding-bottom: 5%;
    text-align: left !important;
    font-weight: 400!important;

}

.contact-block .flower-img {
    width: 30%;
    height: 100%;
    float: left;
    position: relative;
    top: 0;
    right: 0;
    margin-top:5%;
}

.flower-img img {
    border: 0px !important;
    position: absolute;
    top: 20%;
    right: 20%;
}

/*About Me Page*/

.aboutme-page {
    width: 80%;
    margin-left: 10%;
    padding: 1%;
    background-image: linear-gradient(#0D1839, black) !important;
    box-shadow: 0px 0px 18px 4px #0F2B47;
    color: white;
    display: inline-block;
    border-radius: 10px;
}



.about-section {
    width: 100%;
    padding: 5%;
    display: inline-block;
    margin-bottom: 5%;
}

.left, .right {
    display: inline-block;
    width: 50%;
    height: auto;
    float: left;
    padding: 2%;
}

    .right p, .right h2 {
        padding-left: 5%;
        margin-top: 2%;
    }

.aboutme-page h2 {
    font-weight: 300 !important;
    font-size: 2em !important;
}

.left img, .right img {
    width: 300px;
    height: 300px;
    text-align: center;
    margin-left: 5%;
    border-radius: 50%;
}

#hill, #tent, #waterfall, #canoe, #rocks, #dogs {
    object-fit: cover;
}


.image {
    position: absolute;
    border-radius: 50% !important;
    overflow: hidden !important;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 15s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}

.image-changes img {
    z-index: 0 !important;
}



@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    53% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    53% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.f1 {
    background-color: black;
}

.f2 {
    -webkit-animation-delay: 5s;
    background-color: black;
}

.f3 {
    -webkit-animation-delay: 10s;
    background-color: black;
}

@media (max-width: 750px) {
    .container {
        max-width: 100% !important;
    }
}

@media(max-width: 975px) {
    .container {
        max-width: 100% !important;
        
    }

    .right img, .left img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 750px) {
    .resume-border {
        border: 30px solid transparent !important;
        border-image-width: 20px !important;
    }

    body .container {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        
    }
    .about-me{
        padding-top:30%;
    }
   

    .flower-img, #contact {
        width: 100% !important;
        margin: 0 !important;
    }

    #contact {
        transform: translateY(150px);
        padding-left:10%;
        padding-right: 10%;
    }
    .flower-img{
        width: 40%;
        margin-left:30%;
    }
    #contact h1{
        font-size: 2rem;
    }

    .contact-block {
        padding-bottom: 150px;
        background-size: cover;
    }
    #proj-section {
        padding-top: 15%;
        background-size: cover;
    }
    .about-me {
        background-size: cover;
    }
    .aboutme-whole{
        padding-top: 15%;
    }
    .contact-whole{
        padding-top:15%;

    }

    #programs li, #lang li {
        width: 50% !important;
    }

    .proj-block {
        width: 90% !important;
        margin-left: 5% !important;
    }
}

@media(max-width: 600px) {
    .right, .left {
        width: 100%;
        clear: both;
        min-height: 250px;
    }
}