

/*My own css added here:*/
/*AOS*/
[data-aos="font-color"] {
    color: #A1C9C5;
    transition-property: color;
}
    [data-aos="font-color"].aos-animate {
        color: #02302C;
        transition: .5s ease;
    }

[data-aos="font-color-2"] {
    color: #02302C;
    transition-property: color;
}

    [data-aos="font-color-2"].aos-animate {
        color:  #C19A5B;
        transition: .5s ease;
    }

[data-aos="rotate-c"] {
    transform: rotate(-180deg);
    transition-property: transform;
}
    [data-aos="rotate-c"].aos-animate {
        transform: rotate(0deg);
    }


/*Scrollbar*/
::-webkit-scrollbar {
    width: 15px;
    
}
::-webkit-scrollbar-track {
    background: #02302C;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(white, #C2D5D3);

}

    ::-webkit-scrollbar-thumb:hover {
        background-image: linear-gradient(#C2D5D3, white);
    }

    /*page content*/

html, body {
    background-image: linear-gradient(#E6EFEE, white ) !important;
    color: #00151D;
    top: 0;
    font-family: 'Nanum Myeongjo', serif!important;
    overflow-x: hidden;
}

main, .pb-3{
    padding-bottom: 0px!important;
}
.navbar {
    margin-bottom: 0px !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding-bottom: 5%;
}
.navbar-toggler{
   background-color: lightgrey!important;
   padding: 1%;
   border-radius:10px;
}



            body {
                display: block;
                background-color: white;
                color: #02302C;
            }
h1{
    text-align:center;
}
.first-h1 {
    padding-top: 10% !important;
    padding-bottom: 2%;
    color: #011C27;
    font-weight: 500 !important;
    font-size: 2em;
}
.container{
    max-width:100%!important;
    width:100%!important;
    padding: 0px!important;
}
.border-bottom, .border-top{
    border: 0px!important;
}
nav .container h1 {
    width: 50%;
    color: white;
    font-weight:300 !important;
    font-size: 1.5vw;
}

nav .container .navbar-collapse {
    width: 50%;
    text-align: right;
}
@media(min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
        flex-direction: row-reverse !important;
    }
}
.navbar-collapse ul li {
    
    width: 9vw;
    
    text-align: center;
}
@media(max-width: 1000px) {
    .navbar-collapse ul li{
        width: 14vw;
    }

}




.navbar-collapse ul li a {
    color: #02302C !important;
    transition: .3s ease;
}
    a {
        color: #02302C !important;
        transition: .3s ease;
    }
        a:hover {
            color: #02302C !important;
            letter-spacing: .3vw;
            transition: .3s ease;
            box-shadow: none !important;
            text-decoration: none;
            border: 1px solid #C19A5B;
            padding: 1vw;
        }
.navbar-collapse ul li:hover {
    color: #02302C !important;
    letter-spacing: .3vw;
    transition: .3s ease;
    border: none;
}

.navbar-collapse ul li a:hover {
    color: #02302C !important;
    letter-spacing: .3vw;
    transition: .3s ease;
    border: none;
}
        
.nav-item{
    
}
.navbar-toggler{
    background-color: rgba(0, 0, 0, 0)!important;
    border-color: rgba(0, 0, 0, 0)!important;
}

        .aboutme-page {
            margin-bottom: 5%;
        }

.about-me {
    
    
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%!important;
    height: 100vh!important;
    background-image: url('../img/mountains-1081677_1920.jpg');
    background-size: cover!important;
    background-attachment: fixed;
    background-position: top!important;
}
    .about-me h5 {
        color: white;
        
        margin-top: 2%;
        font-size: 1.3vw;
        text-align: left;
        padding-left: 11%;
        
    }
    .about-me h5 span{
        padding-left: 1%;
        padding-right: 1%;
    }


    .about-me h1 {
        color: white;
        font-size: 8vw;
        text-align: left;
        padding-left: 10%;
        line-height: 8vw;
        text-shadow: 2px 2px 5px #02302C;
    }
    .about-me h2 {
        color: #BFE3DF;
        font-size: 5vw;
        font-family: 'Mrs Saint Delafield', cursive;
        padding-left: 10%;
    }
    .who-am-i{
        text-align: center;
        width: 100%;
        margin-left: 0%;
        margin-bottom: 5%;
    }
        .who-am-i h2, .what-ive-done h2 {
            font-size: 8vw;
            color: #A1C9C5;
            margin-top: 5%;
            
        }
.what-ive-done h2 {
    color: white!important;
    font-size: 9vw;
}
.who-am-i h3, .what-ive-done h3{
    color: #A1C9C5;
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 7vw;
    line-height: 1.5vw;
}
.what-ive-done h3 {
    color: #02302C!important;
}
.box{
    height: 1vw;
    overflow: visible;
    
}
.video-box{
    height: 20vw!important;
    overflow: hidden;
    
}
video{
    width: 100%!important;
    margin-top: -30%!important;
}

        .who-am-i p{
            font-size: 1.2vw;
            margin-top: 2%;
            line-height: 3vw;
            margin-bottom: 0;
        }
.who-am-i .img-bar {
    width: 100%;
    height: 105vw;
   margin-top: 5vw;
   background-image: url('../img/dividers3.png');
   background-repeat: repeat-y;
   background-position: top;
   background-size: 19vw;
}
    .what-ive-done{
        text-align: center;
        margin-top: 15vw;
    }
    
        .img-bar div {
            background-size: cover;
            filter: grayscale(100%);
        }
    
.image-bar-img1 {
    background-image: linear-gradient(#02302C, #6DB0A9);
    filter: grayscale(0%)!important;
    width: 15vw;
    height: 20vw;
    transform: translate(52vw, 15vw);
    transition: .3s ease;
}
    .image-bar-img1:hover{
        width: 16vw;
        height: 21vw;
        transform: translate(53vw, 14vw);
        transition: .3s ease;
    }
    .image-bar-img2 {
        background-color: #6DB0A9;
        filter: grayscale(0%) !important;
        width: 25vw;
        height: 10vw;
        transform: translate(40vw, 51vw);
        transition: .3s ease;
    }
        .image-bar-img2:hover {
            transition: .3s ease;
            width: 26vw;
            height: 11vw;
            transform: translate(39vw, 50vw);
        }
.image-bar-img3 {
    background-image: url('../img/skating.jpeg');
    width: 25vw;
    height: 20vw;
    transform: translate(30vw, -34vw);
    transition: .3s ease;
}
.image-bar-img3:hover {
    width: 26vw;
    height: 21vw;
    transform: translate(29vw, -35vw);
    transition: .3s ease;
}
.image-bar-img4 {
    background-image: url('../img/MeAnd Hudson.jpg');
    height: 15vw;
    width: 10vw;
    transform: translate(53vw, -29vw);
    transition: .3s ease;
}
.image-bar-img4:hover {
    transition: .3s ease;
    height: 16vw;
    width: 11vw;
    transform: translate(54vw, -30vw);
}
.image-bar-img5 {
    background-image: url('../img/tent.jpg');
    height: 15vw;
    width: 25vw;
   transform: translate(53vw, -8vw);
   transition: .3s ease;
}
.image-bar-img5:hover {
    transition: .3s ease;
    height: 16vw;
    width: 26vw;
    transform: translate(54vw, -7vw);
}
.image-bar-img6 {
    background-image: url('../img/received_10155456817399973.jpeg');
    width: 25vw;
    height: 15vw;
    background-position: center;
    transform: translate(25vw, 50vw);
    transition: .3s ease;
}
.image-bar-img6:hover {
    transition: .3s ease;
    width: 26vw;
    height: 16vw;
    transform: translate(26vw, 49vw);
}

.image-bar-img8 {
    background-image: url('../img/20200407_185606.jpg');
    height: 15vw;
    width: 17vw;
    transform: translate(41vw, -74vw);
    transition: .3s ease;
}

    .image-bar-img8:hover{
        transform: translate(40vw, -72vw)!important;
        transition: .3s ease;
        height: 16vw;
        width: 18vw;
    }
    .image-bar-img9 {
        background-image: url('../img/dogs2.jpg');
        height: 17vw;
        width: 22vw;
        transform: translate(45vw, -38vw);
        transition: .3s ease;
    }
.image-bar-img9:hover {
   
    height: 18vw;
    width: 23vw;
    transform: translate(44vw, -39vw);
    transition: .3s ease;
}

/*What I've done*/

.what-ive-done h3 {
    margin-bottom: 15vw;
    font-size: 7vw !important;
    margin-top: -3vw;
    color: #02302C;
}
.what-ive-done h2 {
    letter-spacing: -.7vw;
    color: #A1C9C5;
}
.what-ive-done h5 {
    font-size: 3vw;
    color: #C2D5D3;
}
.what-ive-done a {
    display: inline-block;
    padding: 1vw;
    transition: .3s ease;
    border: 1px solid #02302C;
    color: #02302C;
}
.what-ive-done p{
    width: 50%!important;
    margin-left: 25%!important;
}
    .what-ive-done a:hover {
        letter-spacing: .3vw;
        text-decoration: none;
        transition: .3s ease;
        border: 1px solid #C2D5D3!important;
        color: #C2D5D3!important;
    }
.current-proj-whole {
    background-image: url('../img/mountains-1081677_1920.jpg');
    padding: 3%;
    height: 70vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 15%;
}
    .current-proj-inner{
        background-color: white;
        width: 100%;
        height: 100%;
    }
    .what-ive-done .current-proj {
        width: 100%;
        height: 100%;
        padding-top: 5%;
        
    }
.what-ive-done .current-proj .current-proj-img{
    width: 60%;
    margin-left: 20%;
    
    height: 35%;
    background-image: url('../img/qera.PNG');
    background-size: cover;
    margin-top: 1%;
}
    .what-ive-done .current-proj .current-proj-info {
        width: 60%;
        margin-left: 20%;
        
        
        height: 50%;
        background-image: url('../img/circle2.png');
        color: #02302C !important;
        background-size: 60%;
        background-position: top;
        background-repeat: no-repeat;
        padding-top: 5%;
    }

.current-proj-info h4 {
    font-family: 'Nanum Myeongjo', serif;
    line-height: 5vw;
    font-size: 6vw;
    color: #02302C !important;
    text-align: center;
}
.current-proj h5 {
    text-decoration: underline;
    text-align: center;
    margin-top: 1vw;
}

.current-proj-info p{
    text-align: center;
    
}
.current-proj h3 {
    color: #C19A5B;
    font-size: 8vw;
    font-family: 'Mrs Saint Delafield', cursive;
    margin-top: -4%;
    text-align: right;
    padding-right: 15%;
}

/*Contact*/
.square-container{
    width: 100%;
    height: 0;
    overflow: visible;
    margin-top: 20%;
}
.square-container .square{
    width: 100%;
    height: 30vw;
    background-image: url('../img/whiteLayers.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    
    
}
.contact{
    margin-top: 1%;
   
    text-align: center;
}
    .contact h2 {
        font-size: 6vw;
        font-family: 'Mrs Saint Delafield', cursive;
        margin-top: -1vw;
        color: #02302C;
        z-index: 9999;
    }

    .contact h3 {
        color: #A1C9C5;
        font-size: 11vw;
        text-align: left;
        line-height: 8vw;
        letter-spacing: -.7vw;
    }

        .contact h3.create{
            padding-left: 15%;
        }
        .contact h3.something {
            padding-left: 20%;
        }
        .contact h3.beautiful {
            padding-left: 30%;
        }
.linkedin {
    margin-top: 2%;
}
.contact-info{
    
}
/*LinkedIn badge*/
.LI-profile-badge .profile-badge{
    display: none;
}
.LI-profile-badge { 
    margin-bottom: 3vw !important;  
}

.LI-profile-badge .LI-simple-link:hover {
    border: 1px solid #02302c !important;
}
.LI-badge-container.horizontal.dark {
    margin-bottom: 5%!important;
    
    background-color: #02302C!important;
    color: white!important;
    border: 2px solid #02302C!important;
}

    .LI-badge-container.horizontal.dark ul, .LI-badge-container.horizontal.dark ul li, .LI-badge-container.horizontal.dark div, .LI-badge-container.horizontal.dark ul a, .LI-badge-container.horizontal.dark div a, .LI-badge-container.horizontal.dark div span, .LI-badge-container.horizontal.dark div span img {
        background-color: #02302C!important;
        color: white!important;
    }

        .LI-badge-container.horizontal.dark div a.LI-view-profile {
            background-color: white!important;
            color: #02302C!important;
            border: 1px solid white!important;
        }

            .LI-badge-container.horizontal.dark div a.LI-view-profile:hover {
                color: white!important;
                background-color: #02302C!important;
                border: 1px solid white!important;
            }
            .LI-badge-container.horizontal.dark div a.LI-view-profile:visited{
                color: #02302C!important;
            }
            .LI-footer {
                text-align: left;
            }



    /*projects Page*/
#proj-section {
    background-color: #E6EFEE!important;
}
.projects-title-section {
    background-color: #C2D5D3;
    margin-bottom: 10%;
}
.other-projects-title {
    background-color: #C2D5D3;
    margin-bottom: 5%;
    
}
    .other-projects-title h1 {
        font-size: 6vw;
    }
    .featured-projects {
        background-image: url('../img/mountains-1081677_1920.jpg');
        background-size: cover!important;
        background-attachment: fixed;
        padding-top: 10%;
        background-repeat: no-repeat;
    }
.other-sites .proj-block{
    width: 33%;
    float: left;
}
    #proj-section h1.proj-page-title{
        font-size: 8vw;
        padding-top: 10vw;
    }
    #proj-section h3 {
        color: white;
        font-size: 7vw;
        font-family: 'Mrs Saint Delafield', cursive;
        text-align: center;
        margin-top: -6vw;
        margin-left: 27vw;
    }

    
#moonshot-button, #csv-button, #kastem-button, #vet-button, #mynetworx-button, #emulator-button, #scrabble-button, #newcomer-button, #tibbs-button{
    text-align: center;
    padding: 2vw!important;
    width: 10%;
    margin-left: 45%;
    background-image: url('../img/downarrow-thin-green.PNG');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}
    #moonshot-button:hover, #csv-button:hover, #kastem-button:hover, #vet-button:hover, #mynetworx-button:hover, #emulator-button:hover, #scrabble-button:hover, #newcomer-button:hover, #tibbs-button:hover{
        cursor: pointer;
    }
    .other-proj-whole{
        width: 33%;
        float: left;
    }
.moonshot-info, .scrabble-info, .newcomer-info, .tibbs-info {
    width: 40%;
    margin-left: 30%;
    text-align: center;
    clear: both;
    
}
    .moonshot-info, .emulator-info, .scrabble-info, .vet-info, .newcomer-info, .tibbs-info{
        padding-top: 25vw;
        padding-bottom: 10%;
    }
    .csv-info, .mynetworx-info, .kastem-info {
        width: 80%;
        margin-left: 10%;
        text-align: center;
    }
.emulator-info, .vet-info {
    width: 40%;
    margin-left: 30%;
    text-align: center;
    clear: both;
}
#tibbs-info h3 {
    color: #02302C;
    width: 100%;
    margin-left: 7vw!important;
    
    margin-top: -2vw!important;
    line-height: 7.5vw;
    font-family: 'Mrs Saint Delafield', cursive;
}
#moonshot-info, #csv-info, #kastem-info, #mynetworx-info, #vet-info, #emulator-info, #scrabble-info, #newcomer-info, #tibbs-info {
    margin-top: 5%;
    display: none;
    text-align: left;
    border: 2px solid white;
    padding: 5%;
    background-color: #C2D5D3;
}

    #moonshot-info a, #csv-info a, #kastem-info a, #mynetworx-info a, #vet-info a, #emulator-info a, #scrabble-info a, .theme-picker .contents a, .weather .contents a, #newcomer-info a, #tibbs-info a{
        display: inline-block;
        padding: 1vw;
        transition: .3s ease;
        border: 1px solid #02302C;
        color: #02302C;
    }

        #moonshot-info a:hover, #csv-info a:hover, #kastem-info a:hover, #mynetworx-info a:hover, #vet-info a:hover, #emulator-info a:hover, #scrabble-info a:hover, #newcomer-info a:hover, #tibbs-info a:hover {
            letter-spacing: .3vw;
            transition: .3s ease;
            border: 1px solid white;
            color: white!important;
        }
        .theme-picker .contents a:hover, .weather .contents a:hover {
            letter-spacing: .3vw;
            transition: .3s ease;
            border: 1px solid #C2D5D3;
            color: #C2D5D3!important;
        }






        .csv-img {
            background-image: url('../img/csvHomeOverlay2.PNG');
            width: 80%;
            margin-left: 10%;
            height: 24vw;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
        }
.kastem-img {
    background-image: url('../img/kastem-home.PNG');
    width: 80%;
    margin-left: 10%;
    
    height: 24vw;
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center;
}

.mynetworx-img {
    background-image: url('../img/mynetworxslides.PNG');
    width: 80%;
    margin-left: 10%;
    
    height: 24vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}


.moonshot h1, .scrabble h1{
    color: #02302C;
    transform: rotate(270deg) !important;
    transform-origin: 0 0;
    font-size: 1.3vw;
    bottom: 0 !important;
    width: 20%;
    margin-top: 23.5vw;
    float: left;
    text-align: left !important;
    overflow: visible;
}
 .emulator h1, .vet h1{
    color: #02302C!important;
    transform: rotate(270deg) !important;
    transform-origin: 92% 0;
    font-size: 1.3vw;
    margin-top: 5.5vw;
    width: 20%;
    text-align: right;
    float: left;
}
.csv h1, .kastem h1, .mynetworx h1 {
    color: #02302C!important;
    font-size: 1.3vw;
}
.small-projects{
    width: 100%;
    clear: both;
    padding-top: 10%;
    height: 60vw;
}
.small-projects-title {
    background-color: #C2D5D3;
    margin-bottom: 5%;
}

.small-projects-title h1{
    font-size: 6vw;
}
.small-projects-title h3 {
    font-size: 5vw!important;
    margin-top: -3.5vw!important;
   
}
.small-projects .proj-block, .front-face, .contents, .back-face, .new-proj-block{
    position: absolute;
}
    .small-projects .proj-block{
        height: 30vw;
        width: 35%;
        margin-left: 10%;
        /*transform: translate(-50%, -50%);*/
        /*height: 400px;
        width: 290px;*/
        transform-style: preserve-3d;
        perspective: 1000px;
    }
 .new-proj-block {
    height: 24vw;
    width: 60%;
    margin-left: 20%;
    /*transform: translate(-50%, -50%);*/
    /*height: 400px;
        width: 290px;*/
    transform-style: preserve-3d;
    perspective: 1000px;
    clear: both;
    
}

.other-proj-block {
    height: 20vw;
    width: 90%;
    margin-left: 5%;
    /*transform: translate(-50%, -50%);*/
    /*height: 400px;
        width: 290px;*/
    transform-style: preserve-3d;
    perspective: 1000px;
    clear: both;
}
.other-sites p.other-intro{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-bottom: 5vw;
}

        .small-projects .proj-block.weather{ 
            margin-left: 55%!important;
        }
.front-face, .back-face {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #02302C;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4,.2,.2,1);
}
.new-proj-block.moon .back-face{
    background-image: url('../img/moonshotSimple.PNG');
    background-size: cover;
}
.new-proj-block.emulator .back-face {
    background-image: url('../img/eightsixzero.PNG');
    background-size: cover;
}
.new-proj-block.scrabble .back-face {
    background-image: url('../img/thenuetrend.PNG');
    background-size: cover;

}
.new-proj-block.vet .back-face {
    background-image: url('../img/womenQuest.PNG');
    background-size: cover;
}
.new-proj-block.newcomer .back-face {
    background-image: url('../img/thenewcomer.PNG');
    background-size: cover;
}
.new-proj-block.tibbs .back-face {
    background-image: url('../img/Capture.PNG');
    background-size: cover;
}

.other-proj-block.csv .back-face {
    background-image: url('../img/csvHome.PNG');
    background-size: cover;
}
.other-proj-block.kastem .back-face {
    background-image: url('../img/kastem-home.PNG');
    background-color: black;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}
.other-proj-block.mynetworx .back-face {
    background-image: url('../img/mynetworxslides.PNG');
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.contents {
    left: 0;
    top: 50%;
    width: 100%;
    perspective: 100px;
    transform: translateY(-50%) translateZ(60px) scale(.94);
    padding: 5%;
}
  .front{
      color: white;
      font-size: 3vw;
      
  }
  .front h1:after{
      content: '';
      display: block;
      left: 0;
      right: 0;
      height: 2px;
      width: 100px;
      background: white;
      margin: 0 auto;
  }
.back-face {
    background-color: white;
    color: #02302C;
    transform: rotateY(180deg);
}
.mobile{
    display: none!important;
   
}

.small-projects .proj-block:hover > .back-face{
    transform: rotateY(0deg);
}
.small-projects .proj-block:hover > .front-face {
    transform: rotateY(-180deg);
}

.new-proj-block:hover > .back-face {
    transform: rotateY(0deg);
}

.new-proj-block:hover > .front-face {
    transform: rotateY(-180deg);
}

.new-proj-block h2{
    font-size: 4vw;
}
.new-proj-block p {
    font-size: 1vw;
}


.other-proj-block:hover > .back-face {
    transform: rotateY(0deg);
}

.other-proj-block:hover > .front-face {
    transform: rotateY(-180deg);
}

.other-proj-block h2 {
    font-size: 3vw;
}

.other-proj-block p {
    font-size: 1vw;
}

.small-projects h2 {
    font-size: 4vw;
}

.small-projects p {
    font-size: 1vw;
}

@media(max-width: 1100px){
    p{
        font-size: 1.5vw!important;
    }
    .moonshot-info, .emulator-info, .scrabble-info, .vet-info, .newcomer-info, .tibbs-info{
        width: 60%!important;
        margin-left: 20%!important;
    }
    .csv-info, .kastem-info, .mynetworx-info{
        width: 90%!important;
        margin-left: 5%!important;
    }

    .small-projects .proj-block {
        height: 35vw;
        width: 45%;
        margin-left: 3.3%;
        
    }
    .small-projects .proj-block.weather{
        margin-left: 51.6%!important;
    }
    .small-projects{
        height: 70vw!important;
    }
}
@media(max-width: 950px) {
    .small-projects .proj-block {
        height: 40vw;
        
    }
}
@media(max-width: 850px) {
    .about-me{
        padding-top: 20%!important;
    }
    .about-me h1{
        font-size: 10vw!important;
    }
        .about-me h5 {
            font-size: 2vw!important;
        }
        .about-me h2 {
            font-size: 7vw!important;
        }
}



@media(max-width: 750px) {
    p {
        font-size: 2vw!important;
    }

    h5 {
        font-size: 1.6vw!important;
    }

    .about-me h1 {
        font-size: 11vw!important;
        line-height: 10vw!important;
    }
    .about-me h5{
        font-size: 2.5vw!important;
    }
    .about-me h2 {
        font-size: 8.5vw!important;
    }

    .what-ive-done h5 {
        font-size: 2.3vw!important
    }

    .what-ive-done p {
        width: 80%!important;
        margin-left: 10%!important;
    }
    .current-proj-whole{
        height: 80vw!important;
    }
    .current-proj-info {
        background-size: 70%!important;
        height: 50%!important;
    }

    .contact-info h5 {
        font-size: 2.3vw!important;
    }

    .small-projects {
        height: 130vw!important;
    }

        .small-projects .proj-block {
            width: 70%!important;
            margin-left: 15%!important;
        }

            .small-projects .proj-block.weather {
                margin-top: 45vw!important;
                width: 70%!important;
                margin-left: 15%!important;
            }

    .other-proj-whole {
        width: 70%!important;
        margin-left: 15%!important;
        clear: both!important;
        margin-bottom: 5vw!important;
    }
}

@media(max-width: 650px) {
    .about-me{
        padding-top: 30%!important;
    }
    .about-me h1{
        font-size: 13vw!important;
        line-height: 12vw!important;
            
    }
        .about-me h5 {
            font-size: 3vw!important;
        }

        .about-me h2 {
            font-size: 9vw!important;
        }
}


@media(max-width: 600px) {
    .small-projects p {
    }

    .small-projects .proj-block {
        width: 80% !important;
        margin-left: 10%!important;
    }

        .small-projects .proj-block.weather {
            width: 80%!important;
            margin-left: 10%!important;
        }
}


@media(max-width: 575px) {
    .desktop{
        display: none!important;
    }
    .mobile {
        display: block!important;
        height: auto!important;
        position: relative!important;
    }

    .moonshot-info, .emulator-info, .scrabble-info, .vet-info, .newcomer-info, .tibbs-info{
        width: 80%!important;
        margin-left: 10%!important;
    }
        #moonshot-button, #emulator-button, #scrabble-button, #vet-button, #csv-button, #kastem-button, #mynetworx-button, #newcomer-button, #tibbs-button{
            padding: 4vw!important;
            background-size: 80%!important;
        }

        .small-projects .proj-block.weather {
            margin-top: 5vw!important;
        }
    .small-projects a {
        display: inline-block;
        padding: 1vw;
        transition: .3s ease;
        border: 1px solid #02302C;
        color: #02302C;
    }
    .small-projects{
        height: 140vw!important;
    }
    .navbar-nav {
        background-color: rgba(255, 255, 255, 0.45)!important;
    }
    .navbar-collapse ul {
        text-align: right;
        float: right;
    }

        .navbar-collapse ul li {
            text-align: right;
            padding-bottom: 15%!important;
            width: 50vw!important;
            padding-right: 1vw!important;
        }
         p{
            font-size: 2.5vw!important;
        }
         .front p{
             font-size: 2vw!important;
         }
        .what-ive-done h5{
            font-size: 3vw!important;
        }
    .current-proj-whole h5 {
        font-size: 3vw!important;
    }

    .other-sites p.other-intro {
        width: 80%!important;
        margin-left: 10%!important;
    }
    }
@media(max-width: 500px){
    h2{
        font-size: 12vw!important;
    }
    h3{
        font-size: 13vw!important;
    }
    .who-am-i p{
        margin-top: 8vw!important;
        line-height: 6vw!important;
    }
    .about-me{
        height: 100vh!important;
        padding-top: 40%!important;
        background-size: auto 100vh!important;
    }
    .about-me h1{
        font-size: 16vw!important;
        line-height: 14vw!important;
    }
    .about-me h5{
        font-size: 3vw!important;
    }
        .about-me h2 {
            font-size: 9vw!important;
        }
        .what-ive-done h2{
            font-size: 10vw!important;
        }
        .what-ive-done h3{
            font-size: 9vw!important;
        }
    .what-ive-done h5 {
        font-size: 4vw!important;
    }
    .current-proj-whole{
        height: 80vh!important;
    }
    .current-proj-info{
        width: 90%!important;
        margin-left: 5%!important;
        background-size: 70%!important;
        padding-top: 10%!important;
    }
    .current-proj-img {
        width: 90%!important;
        margin-left: 5%!important;
    }
    .current-proj h4{
        font-size: 8vw!important;
    }
    p{
        font-size: 3vw!important;
    }
    .contact-info h5{
        font-size: 4vw!important;
    }
    #proj-section h2{
        font-size: 5vw!important;
    }
    #proj-section h1 {
        font-size: 10vw!important;
    }
    .projects-title-section h3{
        margin-top: -8vw!important;
        font-size: 10vw!important;
    }
    .small-projects-title h3{
        font-size: 10vw!important;
        margin-top: -7vw!important;
    }
    
       
    .small-projects {
        height: 200vw!important;
    }
    .other-proj-whole {
        width: 80%!important;
        margin-left: 10%!important;
        clear: both!important;
        margin-bottom:7vw!important;
    }
    .other-proj-block{
        height: 25vw!important;
    }
    .csv-info, .kastem-info, .mynetworx-info{
        margin-top: 3vw!important;
    }
    .new-proj-block{
        width: 80%!important;
        margin-left: 10%!important;
        height: 30vw!important;
    }
    .moonshot-info, .emulator-info, .scrabble-info, .vet-info, .newcomer-info, .tibbs-info{
        padding-top: 32vw!important;
    }
       
}

@media(max-width: 450px){
    .about-me{
        padding-top: 45%!important;
    }
        .about-me h1 {
            font-size: 18vw!important;
            line-height: 16vw!important;
        }

        .about-me h5 {
            font-size: 3.5vw!important;
        }

        .about-me h2 {
            font-size: 11.5vw!important;
        }
        .small-projects{
            height: 200vw!important;
        }
}

@media(max-width: 400px) {
    p{
        font-size: 3.5vw!important;
    }
    .small-projects{
        height: 230vw!important;
    }
}


@media(max-width: 350px) {
    .about-me {
        padding-top: 55%!important;
    }

        .about-me h2 {
            font-size: 12vw!important;
        }

        .about-me h1 {
            font-size: 19vw!important;
            line-height: 17vw!important;
        }

    .small-projects {
        height: 240vw!important;
    }
}
